.cabeçalho{background-color: #221313; color:rgb(245, 235, 235); display: flex; justify-content: space-around;}
.imagem-logo{width: 100px;px;}
.cabeçalho-lista{display: inline-block;margin:0 16px;}
.site{background-color: rgb(245, 235, 235); color: #f13232;} 
.imagem-carros {width: 180px; height: 130px;}
.rodape{background-color: #221313; color:aliceblue; display: flex; justify-content: space-around;}
.carros-div{display}
 